body {
	background-color: rgb(250, 250, 250);
	font-family: Avenir;


	font-size: 120%;
	font-weight: lighter;}

	h1, h2 {font-family: Helvetica;}
	
	h1 {
	color: #483c48;
	font-weight: 500;
	font-size: 400%;
	margin: 10px;}


	h2 {
	color: #cd4d4d;
	font-size: 230%;}

/* div 1*/

	a {
	text-decoration: none;
	color: #cd4d4d;
	}

	a:hover {
	color: purple;
	background-color: rgba(146, 171, 196, 0.1);
	}

	.img-circle {
	border-radius: 50%;
	max-width: 15%;
	height: auto;
	}


	div {
		text-align: center;	
		background-color: white;
		PADDING: 30PX;
		BOX-SHADOW: 0px 10px 30px rgb(150,0,0,0.1);
		border-radius: 2%; 
	}


	.menu {
		width: 1000px;
		margin: 40px auto;

	}

	.card-wight {
	MARGIN: 40px 40px;
	}


	.list-horizontal {
		list-style: none;
		padding-left: 0px;
	}
	.list-horizontal li {
		display: inline;
		padding: 10px;

	}
	.list-horizontal i {
		font-size:  50px;
		padding: 0px 15px;
		color: rgb(48, 48, 48);
	}


	.list-horizontal i:hover {
		color: #cd4d4d;
	}

		#texte-prez {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 4%;
	}

	.button-blue {	
	background-color: #cd4d4d;
	color: white;
	padding: 15px 20px;
	margin-top:  60px;
	border-radius: 4%; 
	}



	}

	

	/* fin div 1*/
 

